.dark {
	background: #0e1514;
	color: #dde4e3;
	::selection {
		background: rgba(128, 212, 212, 0.3);
	}
	g.hl {
		fill: #80d4d4;
		fill-opacity: 0.3;
		mix-blend-mode: multiply;
	}
	a {
		color: #80d4d4 !important;
		text-decoration: none !important;
	}
	* {
		color: "#dde4e3";
	}
	p,
	div,
	span,
	table {
		/* letter-spacing: `${readerSetting.letterGap}em !important`,
        line-height: `${readerSetting.lineHeight} !important`,
        margin-top: `${readerSetting.paragraphGap}px !important`,
        margin-bottom: `${readerSetting.paragraphGap}px !important`, */
		color: "#dde4e3";
		background: "transparent";
	}
}

.gray {
	background: #343a3a;
	color: #dde4e3;
}

.light {
	background: #fff8f8;
	color: #161d1d;
	a {
		color: #8c4a60 !important;
	}
	g.hl {
		fill: #80d4d4 !important;
		fill-opacity: 0.3;
		mix-blend-mode: multiply;
	}
}
